// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// MAIN MURDOC COLORS:

// MURDOC red
$murdoc-red: #DC0000;

// Light mode
$light-text-color: #121211;
$light-detail: #fffdf8;
$light-background: #fffae4;
$light-text-hover: #ffe6aa;
$light-hover: #850000;


// Dark mode
$dark-body-color: #d3d3d3;
$dark-detail: #161B22;
$dark-background: #0D1117;
$dark-text-hover: #FFDB89;
$dark-hover: #850000;
