// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Light mode
$light-text-color: #1e2024;
$light-detail: #87bfff;
$light-dark-detail: #655DBB;
$light-background: #ECF2FF;
$light-hover-background: #aebdd7;
$light-hover: #3E54AC;


// Dark mode
$dark-body-color: #d3d3d3;
$dark-detail: #161B22;
$dark-dark-detail: #2a2653;
$dark-background: #0D1117;
$dark-hover: #3b28cc;
