<h1>MURDOC</h1>

<% @nodes.each do |node| %>
  <h2><%= node.name %></h2>
  <p>Category: <%= node.category %></p>
  <p>Documentation: <%= node.documentation %></p>
<% end %>

<%= link_to "Home", root_path %>
