<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="murdoc-red my-4">About Us</h5>
      <p class="mt-4">Welcome to our visual Ruby manual! This project emerged from our personal experience in learning Ruby at the beginning of our programming studies. We realized that the standard documentation <kbd>r-doc</kbd> can be intimidating and difficult to understand, especially for beginners.</p>
      <p>It was from this difficulty that we decided to create a visually attractive manual that could make Ruby documentation more accessible and easy to understand. Our goal is to help other programmers understand Ruby more efficiently, by offering valuable information, tips, tricks, code examples, and more.</p>
      <p>We believe that learning should be an engaging and fun experience. Therefore, our manual is designed to be easy to navigate and understand, even for those who are just starting to program. With attractive illustrations, clear explanations, and simple code examples, our Ruby manual offers an accessible and effective learning experience.</p>
      <p class="mb-4">We hope you find our Ruby manual useful and informative. If you have any questions, suggestions, or comments, please do not hesitate to contact us. We are always looking for ways to improve and enhance our manual so that we can provide the best possible support for the Ruby programming community.</p>
      <p><strong>This website was created by <kbd><%= link_to 'Caio Alves', 'https://github.com/praecipito', target: '_blank', class: "text-white" %></kbd>, <kbd><%= link_to 'Guilherme Muoio', 'https://github.com/Gmmuoio', target: '_blank', class: "text-white" %></kbd>, <kbd><%= link_to 'Otavio Coelho', 'https://github.com/0tt049', target: '_blank', class: "text-white" %></kbd> and <kbd><%= link_to 'Victor Canedo', 'https://github.com/vcanedo', target: '_blank', class: "text-white" %></kbd>.</strong></p>
    </div>
  </div>
</div>
