  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Installation Guide</h2>
      <p>First, check if you already have Ruby installed by running "ruby -v" in your terminal. If you don't have it installed or if the version is outdated, proceed to the next step.</p>
      <p>Install a version manager for Ruby, such as rbenv or rvm. This allows you to easily switch between different versions of Ruby and keep them separate from the system Ruby.</p>
      <p>Install the latest stable version of Ruby using your version manager. For example, with rbenv, you would run the command "rbenv install 3.1.2".</p>
      <p>Once the installation is complete, set the global Ruby version to be used by default with the command "rbenv global 3.1.2".</p>
      <p>Verify that the correct version of Ruby is being used by running "ruby -v" in your terminal.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Ruby on Rails Installation</h3>
      <p>Install the Node.js runtime environment, which is required by some Ruby on Rails features. You can download it from the official website (https://nodejs.org/en/download/) or use a package manager.</p>
      <p>Install the Yarn package manager, which is also required by some Ruby on Rails features. You can download it from the official website (https://classic.yarnpkg.com/en/docs/install/) or use a package manager.</p>
      <p>Install the latest version of Ruby on Rails using the command "gem install rails".</p>
      <p>Verify that Ruby on Rails is installed correctly by running "rails -v" in your terminal.</p>
      <p>Congratulations, you have successfully installed Ruby and Ruby on Rails! You are now ready to start building your web applications.</p>
    </div>
  </div>
