  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <h5 class="murdoc-red mt-4 mb-4">Installation Guide</h5>
      <p>First, check if you already have Ruby installed by running "ruby -v" in your terminal.</p>
      <h6>Install by operating system via package manager:</h6>
      <%# <pre> %>
        <div class="row gx-5 my-2">

          <div class="col-sm-4 instruction-card my-0">
            <em>Ubuntu or Debian</em>
            <div class="d-flex justify-content-center">
              <i class="devicon-ubuntu-plain colored mx-2"></i><i class="devicon-debian-plain colored mx-2"></i>
            </div>
            <kbd>sudo apt-get install ruby-full</kbd>
          </div>

          <div class="col-sm-4 instruction-card my-0">
            <em>macOS</em>
            <i class="fa-brands fa-apple"></i>
            <kbd>brew install ruby</kbd>
          </div>

          <div class="col-sm-4 instruction-card my-0">
            <em>Arch Linux</em>
            <%= image_tag "archlinux.png" %>
            <kbd>sudo pacman -S ruby</kbd>
          </div>

          <div class="d-flex justify-content-center my-0">
            <div class="col-sm-4 instruction-card my-0">
              <em>Gentoo</em>
              <i class="devicon-gentoo-plain colored"></i>
              <kbd>sudo emerge dev-lang/ruby</kbd>
            </div>

            <div class="col-sm-4 instruction-card my-0">
              <em>CentOS or Red Hat</em>
              <div class="d-flex justify-content-center">
              <i class="devicon-centos-plain colored mx-2"></i></i><i class="devicon-redhat-plain colored mx-2"></i>
              </div>
              <kbd>sudo yum install ruby</kbd>
            </div>
          </div>
        </div>

        <div class="text-center mb-5">
          <h6>Now type in <kbd>irb</kbd></h6>
          <h6>Then type in <kbd>puts "Hello World!"</kbd></h6>
          <h6>You're now using Ruby!</h6>
          <p class="mt-4">To check your Ruby version run "ruby -v" in your terminal.</p>
          <p>You can also install Ruby using <%= link_to "rbenv", "https://github.com/rbenv/rbenv", class:'link-red' %> for Linux/macOS/WSL</p>
        </div>

    </div>
  </div>

  <%# <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Ruby on Rails Installation</h3>
      <p>Install the Node.js runtime environment, which is required by some Ruby on Rails features. You can download it from the official website (https://nodejs.org/en/download/) or use a package manager.</p>
      <p>Install the Yarn package manager, which is also required by some Ruby on Rails features. You can download it from the official website (https://classic.yarnpkg.com/en/docs/install/) or use a package manager.</p>
      <p>Install the latest version of Ruby on Rails using the command "gem install rails".</p>
      <p>Verify that Ruby on Rails is installed correctly by running "rails -v" in your terminal.</p>
      <p>Congratulations, you have successfully installed Ruby and Ruby on Rails! You are now ready to start building your web applications.</p>
    </div>
  </div> %>
