<div class="inner-search">
  <%= form_with url: root_path,
    method: :get,
    data: {controller: "search-nodes", turbo_frame: "search" },
    html: {class: "mb-4"} do |f|
  %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: "Search nodes",
      value: params[:query],
      data: {action: "keyup->search-nodes#find"}
    %>
  <% end %>
</div>
