<div class="sidebar">
  <ul>
    <div class="logo">

    <li id="mur"><a href="#">
      <h1>MUR</h1>
    </a></li>

    <li id="doc"><a href="#">
      <h1>DOC</h1>
    </a></li>

    </div>
    <div class="side-items">

      <li class="side-item"><a href="#">
        <i class="fa-solid fa-table-cells-large"></i>
        <span>Browse Ruby</span>
      </a></li>

      <li class="side-item"><a href="#">
        <i class="fa-solid fa-tree"></i>
        <span>Tree</span>
      </a></li>

      <li class="side-item"><a href="#">
        <i class="fa-solid fa-circle-down"></i>
        <span><p>Download Ruby</p></span>
      </a></li>

      <li class="side-item"><a href="#">
        <i class="fa-brands fa-readme"></i>
        <span>Info</span>
      </a></li>


    </div>
  </ul>
</div>
