<div class="sidebar d-flex">
  <ul>
    <div class="logo">

    <%= link_to root_path do %>
      <li id="mur">
        <h1>MUR</h1>
      </li>

      <li id="doc">
        <h1>DOC</h1>
      </li>
    <% end %>

    </div>

    <div class="side-items">

      <li class="side-item">
        <%= link_to root_path do %>
          <i class="fa-solid fa-table-cells-large"></i>
          <span>Browse Ruby</span>
        <% end %>
      </li>

      <li class="side-item">
        <%= link_to download_path do %>
          <i class="fa-solid fa-circle-down"></i>
          <span><p>Download Ruby</p></span>
        <% end %>
      </li>

      <li class="side-item">
        <%= link_to about_path do %>
          <i class="fa-brands fa-readme"></i>
          <span>Info</span>
        <% end %>
      </li>


    </div>
  </ul>
</div>
