<div class="sidebar">
  <ul>
    <span class="logo">

    <li id="mur"><a href="#">
      <h1>MUR</h1>
    </a></li>

    <li id="doc"><a href="#">
      <h1>DOC</h1>
    </a></li>

    </span>

    <li><a href="#">
      <i class="fa-solid fa-table-cells-large"></i>
      <span class="side-item">Browse Ruby</span>
    </a></li>

    <li><a href="#">
      <i class="fa-solid fa-tree"></i>
      <span class="side-item">Tree</span>
    </a></li>

    <li><a href="#">
      <i class="fa-solid fa-info"></i>
      <span class="side-item">Info</span>
    </a></li>

    <li><a href="#">
      <i class="fa-solid fa-circle-down"></i>
      <span class="side-item">Download Ruby</span>
    </a></li>

  </ul>
</div>
