<div class="sidebar">
  <ul>
    <div class="logo">

    <li id="mur">
      <h1>MUR</h1>
    </li>

    <li id="doc">
      <h1>DOC</h1>
    </li>

    </div>
    <div class="side-items">

      <li class="side-item">
        <button  data-action="click->replace-partial#replacePartial" data-url="<%= root_path %>">
          <i class="fa-solid fa-table-cells-large"></i>
          <span>Browse Ruby</span>
        </button>
      </li>

      <li class="side-item">
        <button  data-action="click->replace-partial#replacePartial" data-url="<%= tree_path %>">
          <i class="fa-solid fa-tree"></i>
          <span>Tree</span>
        </button>
      </li>

      <li class="side-item">
        <button data-action="click->replace-partial#replacePartial" data-url="<%= download_path %>">
          <i class="fa-solid fa-circle-down"></i>
          <span><p>Download Ruby</p></span>
        </button>
      </li>

      <li class="side-item">
        <button  data-action="click->replace-partial#replacePartial" data-url="<%= about_path %>">
          <i class="fa-brands fa-readme"></i>
          <span>About</span>
        </button>
      </li>


    </div>
  </ul>
</div>
