  <%= turbo_frame_tag 'documentation', class: "card-doc-text" do  %>
    <% if doc_node.respond_to?(:documentation) %>
      <h3>
        <%= doc_node.name %>
      </h3>
      <p>
        <%= doc_node.documentation %>
      </p>
    <% end %>
  <% end %>
