  <%= turbo_frame_tag 'home', class: "grid-mid-right" do %>

      <div class="inner-grid" data-controller="nodes-ajax" >

        <div class='card-doc card-mid-top'>
          <%= render partial: "pages/path_view", locals: { node: node} %>
        </div>

        <div class='card-doc card-bottom'>
          <%= render partial: "pages/documentation", locals: { doc_node: doc_node} %>
        </div>

      </div>

      <div class='card card-parent'>
        <%= render partial: "pages/method_list", locals: { node: node} %>
      </div>

  <% end %>
