<% if node.present? %>
  <ul data-check-target="list">
    <% node.path.each do |node_path_item| %>

      <% node_path_item.children.where(category:['instance_method', 'method']).each do |child| %>

      <li>
        <%= link_to child.name, "/?parent=#{node.id}&doc=#{child.id}", class: 'text-decoration-none', data: {turbo_frame: 'home', check_parent_node_id_value: node.id } %>
      </li>

      <% end %>
    <% end %>
  </ul>
<% end %>
