<div>
  <%#= render "shared/sidebar" %>
</div>
  <div>
    <%#= render "shared/searchbar" %>
    <div class='card-group'>
      <div class='card card-murdoc'>
        <div class='inner-search'>

        </div>
      </div>
      <div class='card card-murdoc'>
       <div class='inner-search'>

        </div></div>
      <div class='card card-murdoc'>
       <div class='inner-search'>

        </div></div>
      <div class='card card-murdoc'>
       <div class='inner-search'>

        </div></div>
    </div>
    <div class='card-doc'>
      
    </div>
  </div>
</div>
