<div>
  <%#= render "shared/sidebar" %>
</div>
<div class='container'>
  <div>
    <%#= render "shared/searchbar" %>
    <div class='card-group'>
      <div class='card'><p>kjgbdsjkfspdpwekjgbdsjkfspd pwekjgbdsjkfspdpwekjgbdsjkfspdpw ekjgbdsjkfspdpwe</p></div>
      <div class='card'><p>kjgbdsjkfspdpwekjgbdsjkfspdpw ekjgbdsjkfspdpwekjgbdsjk fspdpwekjgbdsjkfspdpwe</p></div>
      <div class='card'><p>kjgbdsjkfspdpwekjgbdsjkfspdpwe kjgbdsjkfspdpwekjgbdsjkf spdpwekjgbdsjkfspdpwe</p></div>
      <div class='card'><p>kjgbdsjkfspdpwekjgbdsjkfspdpwek jgbdsjkfspdpwekjgbdsjkfspdp wekjgbdsjkfspdpwe</p></div>
    </div>
    <div>
      <%#= render "shared/documentation_card" %>
    </div>
  </div>
</div>
