<div class="my-grid" data-controller="check">

  <div data-controller="search-nodes">
    <div class='card card-parent pt-5'>

      <div id='card-text' class="mb-1">

      <div class="inner-search">
        <%= form_with url: root_path,
          method: :get,
          local: false,
          data: {search_nodes_target: "form"},
          html: {class: "mb-4"} do |f|
        %>
          <%= f.text_field :query,
            class: "form-control",
            placeholder: "Search nodes",
            value: params[:query],
            data: {
              search_nodes_target: "input",
              action: "keyup->search-nodes#find"
            }
          %>
        <% end %>
      </div>

      <div data-search-nodes-target="teste">
          <%= render "pages/children_list", nodes: @nodes, basic: @basic %>
      </div>



      </div>



      <div class="ruby-symbol">
        <i class="devicon-ruby-plain"></i>
      </div>

    </div>
  </div>

    <%= render partial: "pages/home_content", locals: {node: @node, doc_node: @doc_node} %>

</div>
