<div class="my-grid d-flex" data-controller="check">

  <div data-controller="search-nodes">
    <div class='card card-parent pt-5'>

      <div id='card-text' class="mb-1">

        <div class="inner-search">
          <%= form_with url: root_path,
           method: :get,
           local: false,
           data: {search_nodes_target: "form"},
           html: {class: "mb-4"} do |f|
          %>
            <%= f.text_field :query,
             class: "form-control",
             placeholder: "Search nodes",
             value: params[:query],
             data: {
               search_nodes_target: "input",
               action: "keyup->search-nodes#find"
             }
            %>
          <% end %>
        </div>

        <div data-search-nodes-target="teste">
          <%= render "pages/children_list", nodes: @nodes, basic: @basic %>
        </div>

      </div>

      <span class="tree card-box">
        <i class="fa-solid fa-tree"></i>
        <span class="card-popup">
          <p>
            This is a Ruby tree! It shows every object from the Ruby Programming Language in a tree format.
          </p>
        </span>
      </span>

      <div class="ruby-symbol">
        <i class="devicon-ruby-plain"></i>
      </div>

    </div>
  </div>

  <%= render partial: "pages/home_content", locals: {node: @node, doc_node: @doc_node} %>

  <span class="info card-box">
    <i class="fa-solid fa-circle-question"></i>
    <span class="card-popup">
      <p>
        This is <strong>MURDOC</strong>!
        A Ruby documentation browser inspired by Smalltalk-80.
        It allows you to learn about Ruby by browsing through its class hierarchies,
        and see any of its methods.
      </p>
    </span>
  </span>


</div>
