<div class="my-grid" data-controller="check">

  <div data-controller="search-nodes">
    <div class='card card-parent pt-5'>

      <div id='card-text' class="mb-1">

        <div data-search-nodes-target="list">
          <%= render partial: "pages/children_list", locals: {nodes: @nodes} %>
        </div>

      </div>

      <div>
        <%= render "shared/searchbar" %>
      </div>

      <div class="ruby-symbol">
        <i class="devicon-ruby-plain"></i>
      </div>

    </div>
  </div>

    <%= render partial: "pages/home_content", locals: {node: @node, doc_node: @doc_node} %>

</div>
