<div>
  <%= render "shared/sidebar" %>
</div>
<div>
  <div>
    <%#= render "shared/searchbar" %>
    <div class='card'>
      <div class='col'><p>kjgbdsjkfspdpwekjgbdsjkfspd pwekjgbdsjkfspdpwekjgbdsjkfspdpw ekjgbdsjkfspdpwe</p></div>
      <div class='col'><p>kjgbdsjkfspdpwekjgbdsjkfspdpw ekjgbdsjkfspdpwekjgbdsjk fspdpwekjgbdsjkfspdpwe</p></div>
      <div class='col'><p>kjgbdsjkfspdpwekjgbdsjkfspdpwe kjgbdsjkfspdpwekjgbdsjkf spdpwekjgbdsjkfspdpwe</p></div>
      <div class='col'><p>kjgbdsjkfspdpwekjgbdsjkfspdpwek jgbdsjkfspdpwekjgbdsjkfspdp wekjgbdsjkfspdpwe</p></div>
    </div>
    <div class='row'>
      <%#= render "shared/documentation_card" %>
    </div>
  </div>
</div>
