<div>
  <%#= render "shared/sidebar" %>
</div>
  <div>
    <%#= render "shared/searchbar" %>
    <div class='card-group'>
      <div class='card'></div>
      <div class='card'></div>
      <div class='card'></div>
      <div class='card'></div>
    </div>
    <div>
      <%#= render "shared/card_doc" %>
    </div>
  </div>
</div>
