.card-mid-top {
  // display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  margin-bottom: 10px;
  height: 33%;
  // height: 230px;
  // @media (max-width: 1300px) {
  //   // padding: 0;
  //   height: 230px;
  // }
  // @media (max-width: 995px) {
  //   // padding: 0;
  //   height: 230px;
  // }
  // @media (max-width: 768px) {
  //   // padding: 0;
  //   height: 230px;
  // }
  // @media (max-width: 480px) {
  //   // padding: 0;
  //   height: 230px;
  // }
}
