.card {
  margin: 10px;
  border: 0;
  padding: 5px;
  height: 35vh;
  background-color: $light-background;
  color: $light-text-color;
}

.card:hover {
  box-shadow: 0 0 1px 0 $light-hover;
  transition: 0.2s;
}
