.card-doc {
  background-color: $dark-detail;
  border-radius: 15px;
  border: 1px solid $light-gray;
  color: $dark-text-color;
  &:hover {
    background-color: $dark-hover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
    border: 1px solid #c3daff;
  }
}
.card-bottom {
  height: 460px;
  padding: 12px;
  // &:hover p {
  //   background-color: $dark-background;
  // }
  @media (max-width: 995px) {
    // padding: 0;
    height: 96%;
  }

}
.card-bottom p {
  position: relative;
  overflow-y: auto;
  height: 390px;
  padding-right: 15px;
  text-align: left;
  text-justify: inter-word;
  @media (max-width: 995px) {
    height: ;
  }
  @media (max-width: 768px) {
    height: 100%;
  }
  @media (max-width: 480px) {
    height: 100%;
  }
}
