.card-murdoc {
  background-color: $dark-background;
  margin: 20px 20px 20px 0;
  border: 0;
  height: 45vh;
  position: relative;
  &:hover {
    background-color: $dark-detail;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px;
    transition: 0.2s;
  }
}

  #card-text {
  overflow: auto;
  padding: 20px;
}

.inner-search {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-parent {
  background-color: $dark-background;
  margin: 20px 20px 20px 0;
  border: 0;
  height: 94vh;
  position: relative;
  &:hover {
    background-color: $dark-detail;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px;
    transition: 0.2s;
  }
}

  #card-text {
  overflow: auto;
  padding: 20px;
}
