.path-view {

  margin: auto;
  height: 200px;
  overflow: auto;
  width: 460px;
}
// .path-view .reset-btn {
//   position: fixed;
//   // overflow: visible;
//   z-index: 1;
//   // position at bottom right of path-view

// }

.path-view .breadcrumb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

 .path-view .btn-outline-danger {
  --bs-btn-active-color: white;
  --bs-btn-border-width: 2px;
    &:active {
    color: rgb(218, 218, 218);
    background-color: #b40000;
    // text-shadow: 0 0 6px rgba(0, 0, 0, .7);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .7);
  }
}
.path-view .btn-outline-danger:checked {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.path-view .btn {
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border-color: #ffffff;
    color: #ffffff;
  }

}
.path-view .breadcrumb-item .list-group-item {
  // padding: 12px 32px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-top: 12px;
}

.path-view .breadcrumb-item .list-group-item label {
  cursor: pointer;
}
