.path-view {
  flex: none;
}
// .path-view .breadcrumb {
//   margin-bottom: 0;
// }
// .path-view .breadcrumb-item {
//   font-size: 1.2rem;
// }
// .path-view .breadcrumb-item .list-group-item {
//   border: none;
//   border-radius: 15px;
//   background-color: $murdoc-red;
//   margin-bottom: 15px;
//   color: white;

// }

.path-view .breadcrumb-item .list-group-item {
  padding: 12px 32px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $murdoc-red;
  // border-radius: 15px;
  color: $murdoc-red;
  cursor: pointer;
  &:hover {
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    // text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    color: white;
    background-color: $murdoc-red;
    // font-weight: bolder;
    transition: 0.3s;
    border: 2px solid #ff1616;
  }
  &:active {
    color: rgb(218, 218, 218);
    background-color: #b40000;
    // text-shadow: 0 0 6px rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    // font-weight: bolder;
    // transition: 0.3s;
    border: 2px solid #ff1616;
  }
  // selector if first of many
  &:first-child:not(:last-child) {
    border-bottom-style: none;
  }
  // selector if last of many
  &:last-child:not(:first-child) {
    border-top-style: none;
  }
  // style for when inactive
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-top: 12px;
}
// .path-view .breadcrumb-item .list-group-item:checked {
//   background-color: black;
// }
.path-view .breadcrumb-item .list-group-item label {
  cursor: pointer;
}
