.path-view {
  flex: none;
}

 .path-view .btn-outline-danger {
  --bs-btn-active-color: white;
  --bs-btn-border-width: 2px;
    &:active {
    color: rgb(218, 218, 218);
    background-color: #b40000;
    // text-shadow: 0 0 6px rgba(0, 0, 0, .7);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .7);
  }
}
.path-view .btn {
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    -webkit-background-composite: ;
    border-color: #ffffff;
    color: #ffffff;
  }
}
.path-view .breadcrumb-item .list-group-item {
  // padding: 12px 32px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-top: 12px;
}
// .path-view .breadcrumb-item .list-group-item:checked {
//   background-color: black;
// }
.path-view .breadcrumb-item .list-group-item label {
  cursor: pointer;
}
