body {
  position: relative;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d8d8d8;
  background-color: #172635;
}

h2, h3, h4, h5, h6, p {
  cursor: default;
}

.row {
  margin: 0;
}

// * {
//   box-sizing: border-box;
// }

ul{
  list-style: none;
}

#ul{
  margin:0;
  padding:0;
}

.caret{
  cursor: default;
  user-select: none;
}

.caret::before {
  content: "\203A";
  color: #DC0000;
  display: inline-block;
  margin-right: 5px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested{
  display: none;
}

.active{
  display: block;
}

kbd {
  color: #d8d8d8;
  background-color: #172635;
}

//* Scrollbar styling: *//

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #a23d;
  display: none;
}

/* Corner */
::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #172635;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1B2D3E;
}
