body {
  position: relative;
  background-color: #fffae4;
  color: #2a231d;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// * {
//   box-sizing: border-box;
// }

ul{
  list-style:none;
}
#ul{
  margin:0;
  padding:0;
}
.caret{
  cursor:pointer;
  user-select:none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 5px;
}
.caret-down::before {
  transform: rotate(90deg);
}
.nested{
  display:none;
}
.active{
  display: block;
}
